.App {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  justify-content: center;  
  text-align: center;
  text-align: left;

}
.App h1{
  color: white;
  background: linear-gradient(135deg, #4dabf7, #339af0);
  text-align: left;
  width: 100%;
  margin: 0;
  height: 50px;  
  padding: 10px 20px ;
  box-sizing: border-box;
}

.App h3{
  text-align: left;
  width: 100%;
  margin-top:3px;
  height: 50px;
  padding: 10px 20px ;
  box-sizing: border-box;
  color: gray;
  font-size: 14px;
}
